body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



@tailwind base;
@tailwind components;
@tailwind utilities;





.btn-style{
  background-color:#3b82f6;
  color: white;
  border-radius: 5px;
  font-size: 14px;
  padding: 9px;
  border: 2px solid #3b82f6;
  transition: 0.3s all ;
}
.btn-style:hover{
  background-color:white;
  color: #101010;
  border-radius: 5px;
  border: 2px solid #3b82f6;
  transition: 0.3s ease-in-out;
}






/* finished btn design  */
 


.business-card {
  transition: opacity 0.1s ease, transform 0.1s ease-in-out;
  opacity: 0;
  transform: translateY(-10px);
}

.business-card.show {
  opacity: 1;
  transform: translateY(0);
}



.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.5);  
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10; 
}